:root{
    --Titles:#26423E;
    --secondaryGreen: #56776A;
    --font: #DAD7CD;
}

body{
    background-color: #344E41;
    font-family: "Inter", sans-serif;
    margin: 0;
    padding: 0 0 40px 0;
    box-sizing: border-box;
}

/* This targets the scrollbar in webkit-based browsers */
::-webkit-scrollbar {
    width: 5px; 
}

::-webkit-scrollbar-track {
    background: #DAD7CD;
    
}

::-webkit-scrollbar-thumb {
    background: #56776A; 
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: #DAD7CD; 
}

.about-us-btn {
    text-align: center;
    justify-content: center;
    margin: auto;
    display: flex;
    background-color: white;
    text-decoration: none;
}

a {
    text-decoration: none;
}