:root{
    --Titles:#26423E;
    --shadows: rgb(0, 0, 0);
}

.Intro {
    display: flex;
    flex-direction: column;
    background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)), url('../images/tree-mountain.jpg');
    background-size: cover; 
    background-position: center; 
    height: 50vh;
    text-align: center;
    justify-content: center;  
    color: var(--Titles);
    text-shadow: 2px 2px 2px var(--shadows);
    font-size: 2rem;
}

.Intro p {
    font-size: 1.5rem;
    margin: 0;
    padding: 0;
    text-shadow: none; 
}

