:root{
    --Titles:#344E41;
}

.Intro {
    display: flex;
    flex-direction: column;
    background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)), url('../images/tree-mountain.jpg');
    background-size: cover; 
    background-position: center; 
    height: 60vh;
    text-align: center;
    text-wrap: wrap;
    justify-content: center;  
    color: var(--Titles);
    font-size: 2rem;
    margin-bottom: 20px;
}

.Intro p {
    font-size: 1.5rem;
    margin: 0;
    padding: 0;
}

.accuracy-msg {
    justify-content: center;
    text-align: center;
    color: #DAD7CD;
}

/* Media query for tablets and above */
@media (max-width: 768px) {
    .Intro {
        font-size: 1.5rem;
    }

    .Intro p {
        font-size: 1rem;
    }
}