#pieChart {
    display: flex;
    justify-content: center;
    align-content: center;
    width: 80vw;
    height: 40vh;
    margin: auto;
}

#pieChart ul {
   color: white;
}

.values {
    display: inline-block;
    background-color: white;
}

.pieChart {
    color: white;
}

#total-consumption,
#renewable-percentage,
#carbon-intensity,
.table {

    margin: 0;
    padding: 0;
    text-align: center;
    color: white;

}
