:root{
    --Titles:#26423E;
    --secondaryGreen: #56776A;
    --font: #DAD7CD;
}

#pieChart {
    display: flex;
    justify-content: center;
    align-content: center;
    width: 30%;
    height: 100%;
    margin: auto;
}

#pieChart ul {
   color: white;
}

.values {
    display: inline-block;
    background-color: var(--font);
}

.pieChart {
    color: var(--font);
}

#total-consumption,
#renewable-percentage,
#carbon-intensity,
.table {

    margin: 0;
    padding: 0;
    text-align: center;
    color: var(--font);
}

#total-consumption{
    margin: 20px 0 0 0;
}
#renewable-percentage{
    margin: 0 0 20px 0;
}

