#pieChart {
    display: flex;
    justify-content: center;
    align-content: center;
    width: 30%;
    height: 100%;
    margin: auto;
}

#pieChart ul {
   color: white;
}

.values {
    display: inline-block;
    background-color: grey;
}

#total-consumption,
#renewable-percentage,
#carbon-intensity{
    margin: 0;
    padding: 0;
    text-align: center;
    color: white;
}
