:root{
    --Titles:#26423E;
    --secondaryGreen: #56776A;
    --font: #DAD7CD;
}

h1{
    color: var(--Titles);
}


.search-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 20px;
    background-color: var(--font);
}

#select-province {
    width: 300px;
    height: 30px;
    border: 1px solid var(--font);
    border-radius: 5px;
    padding: 5px;
}

#search-button {
    width: 100px;
    height: 30px;
    background-color: var(--secondaryGreen);
    color: var(--font);
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#search-button:hover {
    background-color: var(--Titles);
}

#zone-country
{
 display: flex;
 margin: 20px 0 0 0;
 padding: 0;
 justify-content: center;
 font-size: 3rem;
 color: var(--font);
}

#zone-name {
    display: flex;
    margin: 0 0 20px 0;
    padding: 0;
    justify-content: center;
    font-size: 2.75rem;
    color: var(--font);
}