:root{
    --Titles:#26423E;
    --secondaryGreen: #3A5A40;
    --font: #DAD7CD;
}

h1{
    color: var(--Titles);
}

.search-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 20px;
    font-size: 1.5rem;
}

#select-province {
    width: 1000px;
    height: 50px;
    border-radius: 5px;
    align-self: center;
    justify-content: center;
    font-size: 1.5rem;
}

#search-button {
    width: 150px;
    height: 50px;
    background-color: var(--secondaryGreen);
    color: var(--font);
    border: none;
    border-radius: 5px;
    font-size: 1.5rem;
    align-self: center;
    justify-content: center;
    cursor: pointer;
    padding: 0;
}

#search-button:hover {
    background-color: var(--Titles);
}

#zone-country
{
 display: flex;
 margin: 40px 0 0 0;
 padding: 0;
 justify-content: center;
 font-size: 3rem;
 color: var(--font);
}

#zone-name {
    display: flex;
    margin: 0 0 40px 0;
    padding: 0;
    justify-content: center;
    font-size: 2.75rem;
    color: var(--font);
}