:root{
    --Titles:#26423E;
    --secondaryGreen: #56776A;
    --shadows: rgb(0, 0, 0);
}

h1{
    color: var(--Titles);
}

h2{

}
.search-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 20px;
    background-color: #C2D3D0;
}

#select-province {
    width: 300px;
    height: 30px;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 5px;
}

#search-button {
    width: 100px;
    height: 30px;
    background-color: var(--secondaryGreen);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#search-button:hover {
    background-color: var(--Titles);
}

#zone-country,
#zone-name {
 display: flex;
 justify-content: center;
 font-size: 1.5rem;
 color:var(--Titles);
 background-color: #56776A;
}